<table id="table">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Compania</th>
            <th>Ciudad</th>
            <th>Pais</th>
            <th>Región</th>
        </tr>
    </thead>
    <tbody>
        <% for (let contacts of data) { %>
        <tr>
            <td class="avatar"><img src="<%= contacts.img %>" alt="Avatar"></td>
            <td><%= contacts.name %></td>
            <td><%= contacts.lastname %></td>
            <td><%= contacts.email %></td>
            <td><%= contacts.phone %></td>
            <td><%= contacts.company.name %></td>
            <td><%= contacts.city.name %></td>
            <td><%= contacts.city.country.name %></td>
            <td><%= contacts.city.country.region.name %></td>
        </tr>
        <% }; %>
    </tbody>
</table>