<%- include('includes/head') %>
<link rel="stylesheet" href="/styles/css/signup.css">
<title><%= title %> </title>
</head>

<body>
    <%- include('includes/header')%>
    <main class="main-signup">
        <h1 class="form-title">Sign Up Form</h1>
        <%- include('includes/signup_form')%>
        <%- include('includes/overlay-signup')%>
    </main>
    <script src="https://kit.fontawesome.com/81670265ac.js" crossorigin="anonymous"></script>
    <script src="/js/signup.js"></script>
    <%- include('includes/footer') %>